<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- namespace를 이용해서 어떤 mapper를 가지고올지 이름을 지정해준다 -->
<mapper namespace="edu.board.mapper.userMapper">
	<!-- 아이디는 하나의 맵퍼안에서  중복되면안된다. -->
	
	<insert id="insert" parameterType="userVO"> <!-- 별칭을 지정해서 가지고 온다. mybatias-config에서 별칭을 지정한다.  -->
		INSERT INTO springuser(
			midx		<!-- db컬럼따라 변경 -->
			,id
			,password
			,userName
		)VALUES(
			springuser_midx.nextval		
			,#{id}					<!-- userVO의 필드명으로 값 가져오는 것 -->
			,#{password}			<!-- userVO에서 필드 이름 바뀌면 얘도 바뀌어야함 -->
			,#{userName}
		)
	</insert>
	
	<select id="selectByLogin" parameterType="userVO" resultType="userVO"> 
		SELECT midx
			  ,id
			  ,password
			  ,username
	 	  FROM springuser
		 WHERE id =#{id}
		   AND password=#{password}
	<!--이제 dao가서 처리 -->
	</select>
	
	
	<select id="selectByMypage" parameterType="int" resultType="userVO"> <!-- midx니까 int -->
		SELECT midx
			  ,id
			  ,password
			  ,username
	 	  FROM springuser
		 WHERE midx = #{midx}	<!--  dao파라미터를 넘길 변수명 -->
	
	</select>
	
	
	<update id="modify" parameterType="userVO"> 
	
		UPDATE springuser
		   SET password =#{password}
			   ,userName =#{userName}
		WHERE  midx = #{midx}
	</update>
	
	 
</mapper>